
$body-transparent: rgba(125, 3, 15, 0.85);
$body-color: #7d030f;
$white: #FFF;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  font-size: 120%; 
  scroll-behavior: smooth;
}
body, a, span, button { font-size: 1rem; }

div {
  word-break: break-word;
}
a, a:hover, a:active {
  color: $white;
  text-decoration: underline;
}
body {
  background-color: $body-color;
  color: $white;
  font-family: sans-serif;
  margin: 0;
  z-index: 0;

  // html for all browsers except safari...
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}
body > h1 {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

div.nav.open {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: $body-transparent;

  button { top: 1.5em; left: 3em;}
  nav {display: block;}
}
div.nav{
  position: absolute;
  bottom: 2em;
  right: 2em;
  overflow: hidden;
  width: 1.3em;
  height: 1.5em;

  z-index: 1;

  button {
    position: absolute;
    border: none;
    background: transparent;
    padding: 0;
    z-index: 3;
  }
  nav {
    position: relative;
    display: none;
    height: 100%;
    padding: 0;
    text-align: right;
    z-index: 1;

    div.list{
      position: relative;
      height: 100%;


      overflow-y: scroll;

  
      div.item{
        position: relative;
        background-color: transparent;
        display: block;
        padding: 1.5em;
  
        a, a:hover, a:active {
          color: $white;
          font-size: 1.3em;
          font-weight: bold;
          font-style: oblique;
          text-decoration: none;
        }
      }
    }
  }
}
div.content {
  position: relative;
  z-index: 0;
  text-align: center;

  div.events {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 0;
    width:100%;

    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    scroll-behavior: smooth;

    div.event.footer { 
      border: none;
      background-color: transparent;
      img {
        width: 6em;
        border-radius: 3em;
        margin-top: 2em;
      }
    }
    div.event.title {
      border: none;
      font-style: italic;
      background-color: transparent;
      font-size: 1.7em;
    }
    div.event {
      position: relative;
      z-index: 0;
      min-width: 300px;
      width: 70%;
      max-width: 580px;

      margin: auto;
      margin-bottom: 5em;
      border: 3px solid;
      border-radius: 1em;
      padding: 2em 0.5em;
      font-size: 2em;
      
      scroll-snap-align: center;

      background-color: rgba(0,0,0,0.11);

      overflow: hidden;

      h2 {
        z-index: 1;
        font-style: italic;
      }
      div.anchor { // The navigation anchor div
        position: absolute;
        top: -50%;
      }

      div.info-box {
        font-size: 0.5em;
        margin-bottom: 1em;
        margin-top: -0.5em;

        div.blurb {
          font-style: italic;
        }
        a {}
      }
      div.qbang {
        position: absolute;
        z-index: -1;
        width: 1em;
        font-style: italic;
        font-weight: bold;
        right: -0.1em;
        bottom: -0.31em;
        font-size: 12em;
        font-family: 'Lobster', cursive;
        color: rgba(255,255,255,0.11);
      }
      div.countdown,
      div.epoch{
        display: inline-block;
        z-index: 1;
        width: 40%;
        min-width: 200px;
        margin-bottom: 0.5em;

        div.time-item{
          z-index: 1;
          display: inline-block;
          margin: 0.2em;
          margin-top: 0;
          div.title{
            z-index: 1;
            font-size: 0.3em;
          }
        }
      }
      div.countdown{
        width: 100%;
      }

    } 
    div.event.done {
        background-image: url(/assets/images/charles-done-o60.png);
        background-size: cover;
    }
  }
}
/**************** Particles **********************/
canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js {
  z-index: -1000;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  background-color: $body-color;

}
