
//$body-color: rgb(159, 3, 19);
$body-color: #7d030f;
$white: #FFF;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html {
  font-size: 120%; 

}
body, a, span, button { font-size: 1rem; }

div {
  word-break: break-word;
}
a, a:hover, a:active {
  color: $white;
  text-decoration: underline;
}
body {
  background-color: $body-color;
  color: $white;
  font-family: sans-serif;
  margin: 0;

  // html for all browsers except safari...
  scroll-snap-type: mandatory;
  -webkit-scroll-snap-type: mandatory;
  -webkit-overflow-scrolling: touch;
}
body > h1 {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

div.content {
  position: relative;
  text-align: center;
  margin-top: 4em;

  div.events {
    position: fixed;
    top: 0;
    bottom: 0;
    width:100%;

    scroll-snap-type: y mandatory;
    -webkit-scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;

    div.event.footer { 
      border: none;
      background-color: transparent;
    }
    div.event.title {
      border: none;
      font-style: italic;
      background-color: transparent;
    }
    div.event {
      position: relative;
      min-width: 300px;
      width: 70%;
      max-width: 640px;

      margin: auto;
      margin-bottom: 5em;
      border: 3px solid;
      border-radius: 1em;
      padding: 2em 0.5em;
      font-size: 2em;
      
      scroll-snap-align: center;

      background-color: rgba(0,0,0,0.11);

      overflow: hidden;

      h2 {
        font-style: italic;
      }
      div.qbang {
        position: absolute;
        width: 1em;
        font-style: italic;
        font-weight: bold;
        right: -0.1em;
        bottom: -0.31em;
        font-size: 12em;
        font-family: 'Lobster', cursive;
        color: rgba(255,255,255,0.11);
      }
      div.countdown,
      div.epoch{
        display: inline-block;
        width: 40%;
        min-width: 200px;
        margin-top: 1em;

        div.time-item{
          display: inline-block;
          margin: 0.2em;
          div.title{
            font-size: 0.3em;
          }
        }
      }
      div.countdown{
        width: 100%;
      }

    } 
    div.event.done {
        background-image: url(/assets/images/charles-done-o60.png);
        background-size: cover;
    }
  }
}
div.nav {
  position: fixed;
  bottom:0;
  width: 100%;
  text-align: center;
  background-color: $body-color;
}
/**************** Particles **********************/
canvas {
  display: block;
  vertical-align: bottom;
}
/* ---- particles.js container ---- */
#particles-js {
  z-index: -1000;

  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;

  background-color: $body-color;

}
